@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Size for make the map appear */
body{
    margin: 0;
    padding: 0;
}


/******************** Letters ***************/

h1, p {
    font-family: 'open sans', arial, sans-serif;
}


/******************** COLORS ***************/

/*
body{
    background-image: url(../images/restaurants.webp);*/
    /*backdrop-filter: blur(3px);
}
*/

.icon {
    color: #e2ad29;
}

p {
    color: darkslategrey;
}

a {
    color: #3e78a0;
}

/******************** Hover ***************/
.fas:hover {
    color: #ea4335;
}
.card-container:hover .overlay {
    opacity: 1;
}

/******************** Sizes ***************/

div #mapa {
    margin-top: 0;
    height: 40rem;
}

.icon {
    font-size: 200%;
}

html{
    height: 100%;
}

#photo {
    min-height: 314px;
    width: 100%;
    height: auto;
    max-height: 411px;
}

/******************** Align and Pading ***************/
td,.title,.icon, .panel-container{
    text-align: center;
}

.title {
    padding: 32px;
    z-index: 3;
}


/******************** Position and Display ***************/

.icon{
    position: relative;
}
.web-container{
    display: inline-block;
}

text{
    display: inline-block;
    justify-content: normal;
}

#photo{
    display: block;
    position: relative;
}



/******************** Containers ***************/

.dark_fond{
    width: 100%;
    height: 100%;
    background: linear-gradient(-180deg, rgba(255, 255, 255, 0.77), rgba(255, 255, 255, 0.43)), url(../images/restaurants.webp);
    backdrop-filter: blur(5px);
}

.map-container{
    text-align: center;
    height: 100px;
}

#map{
    height: 100px;
}

#icon-container{
    background: #3e38386b;
    margin-left: 23px;
    z-index: 5;
    position: absolute;
    margin-top: 96px;
    left: 0px;
    top: 0px;
}

.panel-element-container{
    /*position: absolute;*/
    width: 100%;
    justify-content: center;
}

.panel-container{
    position: relative;
    text-align: center;
}

#photo, #name, #rating, #address, #web{
    text-align: center;
}

.card-container{
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    opacity: 0;
    transition: .3s ease;
    background-color: #000000b8;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items:center;
}

.image {
    position: relative;
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#map-panel-icons{

}


/********************--Footer-**********************/
.over-footer{
    position: relative;
    top: 0px;
    left: 0px;
}

.information{
    color: #d0d0d0;
}

footer{
    color: rgb(202, 196, 196);
    padding: 60px;
    background-color: #363636;
}

.footer-container{
    color: rgb(202, 196, 196);
    height: 100px;
    background-color: #363636;
    bottom: 0px;
}

/******************** Responsive layout ***************/


/* Mobile (Greater than 768 then do) */
@media (min-width: 768px){
    .column {
        -ms-flex: 100%;
        max-width: 100%;
    }
    #icon-container{
        visibility: hidden;
    }
}

/*Tablets*/
@media (min-width: 1024px){
    .image {
        display: block;
        width: 100%;
        height: auto;
    }
    .column {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }
    .icon{
        font-size: 270%;
    }

}

@media only screen and (max-width: 1200px) and (min-width: 768px)  {
    #photo{
        max-height: 351px;
    }
}


/*Wide Screen*/
@media (min-width: 1200px) {
    .image {
        display: block;
        width: 100%;
        height: auto;
    }
    .panel-container:hover .overlay {
        opacity: 1;
    }
    .column {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }
    .icon{
        font-size: 350%;
    }
}